<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>suraj web about</title>
</head>

<body>

  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a style="color: brown;" class="navbar-brand" href="#">CodeBlocker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="about.html">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html">Blog</a>
            </li>


            <li class="nav-item">
              <a class="nav-link text-white" href="contact.html">Contact Us</a>
            </li>
          </ul>

    </nav>

    

    <!--Sign Up Modal -->




    <div data-aos="fade-right" data-aos-offset="220"  class="container  my-4">
      <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading">Web Development <span class="text-muted">Frontend or Backend Developer
              role.</span></h2>
          <p class="lead">Web development is the building and maintenance of websites; it's the work that happens
            behind the scenes to make a website look great, work fast and perform well with a seamless user
            experience. Web developers, or 'devs', do this by using a variety of coding languages. Whether you
            want to work for an organization or as a self-employed freelancer, front-end web developers are in
            demand. In fact, the Creative Group has named front-end web development one of the Top 10 Creative
            and Marketing jobs of 2017. It's a lucrative career.</p>
        </div>
        <div class="col-md-5 my-4">
          <img src="static/t8.png" class="img-fluid" alt="" width="500" height="300">

        </div>
      </div>

      <div  data-aos="fade-left" data-aos-offset="200" class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Android Development <span class="text-muted">Create Mobile
              Application.</span></h2>
          <p class="lead">Android software development is the process by which applications are created for
            devices running the Android operating system. Google states that "Android apps can be written using
            Kotlin, Java, and C++ languages" using the Android
            C++ or assembly, need the help of JVM language code, that may be supplied by tools, likely with
            restricted API support. Some programming languages and tools allow cross-platform app support (i.e.
            for both Android and iOS). The official language for Android development is Java. Large parts of Android are
            written in Java and its APIs are designed to be called primarily from Java.</p>
        </div>
        <div class="col-md-5 my-4">
          <img src="static/t9.png" class="img-fluid" alt="" width="500" height="300">
        </div>
      </div>

      <div data-aos="fade-right" data-aos-offset="200" class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading">Software Development <span class="text-muted">Developing software for
              Mobile or Laptop.</span></h2>
          <p class="lead">Software development is the process of conceiving, specifying, designing, programming,
            documenting, testing, and bug fixing involved in creating and maintaining applications, frameworks, or other
            software components. Software developers are the creative minds behind computer programs. Some develop the
            applications that allow people to do specific tasks on a computer or another device. Others develop the
            underlying systems that run the devices or that control networks. According to a recent Time article, “Most
            developers get a bachelor's degree in a computer science field, learning the basics of programming while
            devoting their free time to testing it out.”</p>
        </div>
        <div class="col-md-5 my-4">
          <img src="static/t10.png" class="img-fluid" alt="" width="500" height="300">
        </div>
      </div>

    </div>



    <footer style=" background-color:rgba(15, 10, 29, 0.849);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;">
      <div>
          <h4>Code<span style="color: brown;"> Blocker</span></h4>
          <p class="footer-p">www.CodeBlocker.com</p>
      </div>
      <div>
           <a href="https://www.facebook.com/surajsharma.akashpandit?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
           <a href="https://www.instagram.com/suraj_pndt____/"><i class="fa fa-instagram"></i></a>
           <a href="https://www.whatsapp.com/download"> <i class="fa fa-whatsapp"></i></a>
           <a href="https://twitter.com/SURAJSHARM20222?t=qBPf2kZ3Vkh01-D4n3GTOA&s=09"><i
            class="fa fa-twitter"></i></a>
            <a href="https://in.pinterest.com/surajsharma4313/_saved/"><i class="fa fa-pinterest"></i></a>
          <p><br>Design  by  Suraj  Sharma</p>
      </div>

      <style>
        div i{
        
        transition: 0.6s ease-in-out ;
        font-size: 25px;
margin: 0px 15px;
border: 1.5px solid black;
background-color: rgb(107, 25, 25);
color: white;
padding: 8px;
cursor: pointer;

flex-basis: 50%;

        }
        div i:hover{
          transform: rotate(360deg);
        }
      </style>
      <div>
          <p>
              <a style="color: white;" class="footer-copyright" href="http://127.0.0.1:5500/index.html"> @2024 Copyright All Rights Reserved
              </a>
          </p>
      </div>
  </footer>




  </body>



  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</html>